# Question 5: 
Find the investors who have invested maximum number of times.<br>
Print the investor name and number of times invested as integer value.<br>

In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
data = pd.read_csv("startup_funding.csv")
d = data.copy()
d.dropna(subset=['InvestorsName'],inplace=True)

In [67]:
s = {}      # investors name (key) with total no of fundings made by them (value).

def investor_name(invest):
    l = invest.split(',') # list of words separated by ','
    for i in l:
        i=i.strip()           # Remove spaces at the beginning and at the end of the string
        s[i] = s.get(i, 0) + 1
    return 1

d['InvestorsName'].apply(investor_name)

k=np.array(list(s.keys()))
v=np.array(list(s.values()))

ind=v.argmax()
print(k[ind],"with total",v[ind], "number of investments\n")

Sequoia Capital with total 64 number of investments

In [83]:
t = pd.DataFrame(list(s.items()), columns = ['Investor', 'No. of investments'])
t.sort_values(by=['No. of investments'], ascending=False, inplace=True)
# Top 5 investors with the total number of investments made by them
t.head(5)

                 Investor  No. of investments
68        Sequoia Capital                  64
24         Accel Partners                  53
20        Kalaari Capital                  44
224         SAIF Partners                  41
61   Indian Angel Network                  40